#head {
    position: relative;
    background-color: rgb(7, 89, 231);
    height: 20vh;
    display: flex;
    align-items: flex-end; 
    padding-bottom: 10px;
}

#head h1 {
    transform: translate(165%, 15%);

}
#head #rhead{
    position: relative;
    transform: translate(450%, 15%);
}

#foot {
    position: relative;
    background-color:rgb(7, 89, 231);
    height: 5vh;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-color: rgb(220, 215, 215);
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('tick.jpeg') no-repeat center center/cover;
    opacity: 0.3; /* Adjust opacity as needed */
    z-index: -1;
}


#content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translate(-5%, -10%);

}

#content1, #content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    transform: translate(-9%, -10%);

}

.right {
    position: relative;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-0%, -110%);
}
.left {
    position: relative;
    transform: translate(5%, 15%);
}


.container {
    display: flex;
    align-items: center;
    font-size: large;
    flex: 1;
}

.vertical-line {
    border-left: 4px dotted blue;
    height: 550px;
    margin: 0 10px;
}

.left-content {
    width: 70%;
    font-size: x-large;
}

.right-content {
    width: 30%;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    width: 10%;
    margin: 10px 1%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: lightgreen;
}

button[type="button"] {
    background-color: red;
}

button[type="button"]:hover {
    background-color: orangered;
}

center {
    transform: translateY(-55%);
}

@media print {
    #head, #foot {
        position: fixed;
        width: 100%;
        left: 0;
    }

    #head {
        top: 0;
    }

    #foot {
        bottom: 0;
    }

    body {
        margin-top: 20vh; 
        margin-bottom: 20vh;
    }

    button {
        display: none;
    }
    #head  #rhead{
        transform: translate(250%, 15%);
    
    }
    #head h1 {
        transform: translate(85%, 15%);
    
    }
}
